@import "preflight.css";

body {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(auto, 15rem) 1fr;
}

aside {
  grid-area: sidebar;
  background-color: #1a92d3;
  color: white;
  padding: 1rem;

  .heading {
    display: grid;
    grid-template-columns: 2.4rem 1fr;
    align-items: center;
    margin-bottom: 2rem;

    & h1 {
      font-size: 1.4rem;
      font-weight: 600;
      margin-left: 0.6rem;
    }
  }

  nav {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    & li {
      list-style-type: none;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 2.4;
    }

    & li:nth-child(6) {
      margin-bottom: 2.5rem;
    }

    & .nav-item {
      display: grid;
      grid-template-columns: 1.25rem 1fr;
      align-items: center;

      & h3 {
        margin-left: 1.2rem;
      }
    }
  }
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}
