@import "preflight.css";

body {
  display: grid;
  grid:
    "sidebar header" auto
    "sidebar main" 1fr
    / auto 1fr;
}

aside {
  grid-area: sidebar;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}
